.blue{
	background-color: blue;
}
.red{
	background-color: red;
}
#cordenate{
	border: solid 2px black;
	width: 400px;
	height: 400px;
}
#displauy-info{
	width: 400px;
	border: solid 2px black;
	height: 100px;
	margin: 20px 0 0 0;
}
.button{
	height: 35px;
	width: 50px;
	margin: 10px 10px;
}
#roteition{
	width: 100px;
	height: 100px;
	background-color: black;
}
#inputets{
	margin: 10px 10px;
	height: 30px;
	width: 200px;
	font-size: 25px;
}
#inputets2{
	margin: 10px 10px;
	height: 30px;
	width: 200px;
	font-size: 25px;
}
#info-input{
	width: 400px;
	border: solid 2px black;
	height: 100px;
	margin: 20px 0 0 0;
	font-size: 30px;
}